<div i-text="centered">
    <button
        i-button="full"
        ng-controller="nextStepButtonCtrl as nextStepButton"
        ng-click="nextStepButton.tryGoNext()"
    >
        {{ include.label }}
    </button>
</div>
