/*******************************************************************************
stepsMenu module
*******************************************************************************/

[i-stepsMenu] {
    text-align: center;
}

[i-stepsMenu-item] {
    display: inline-block;
}

[i-stepsMenu-item]:not(:first-of-type)::before {
    content: "\2192";
    float: left;
    margin: 0 2rem;
}

[i-stepsMenu-button] {
    cursor: pointer;
    background: transparent;
}

[i-stepsMenu-button]:not([disabled]) {
    color: var(--c-jade);
}

[i-stepsMenu-button]:hover {
    color: color(var(--c-jade) shade(10%));
}

[i-stepsMenu-button]:active {
    color: color(var(--c-jade) shade(20%));
}
