<div
    i-card="error"
    ng-controller="reviewFormErrorCtrl as reviewFormError"
    ng-show="reviewFormError.isVisible"
>
    You need to fill up all non-optional fields, sorry :-(
</div>

<div i-card>
    <h1>User data and product review</h1>

    <text-field label="Your name" name="yourName" required></text-field>

    <text-field label="Title" name="title"></text-field>

    <text-field label="Review" name="reviewText" multiline required></text-field>
</div>

<div i-text="centered">
    <button
        i-button="double full"
        ng-controller="reviewFormNextButtonCtrl as nextButton"
        ng-click="nextButton.tryGoNext()"
    >
        Next
    </button>
</div>
