<div i-card="error">
    Some required fields are not filled up!
</div>

<div i-card ng-controller="reviewFormCtrl as reviewForm">
    <h1>User data and product review</h1>

    <text-field name="Test name" required></text-field>

    <text-field name="foo"></text-field>
</div>
