<menu ng-controller="tabsMenuCtrl as tabsMenu">
    <button
        ng-repeat="tab in tabsMenu.options track by tab.id"
        ng-click="tabsMenu.showTab(tab.id)"
        ng-bind="tab.name"
        ng-disabled="!tab.isUnlocked"
    ></button>
</menu>
