<menu i-card i-tabsMenu ng-controller="tabsMenuCtrl as tabsMenu" ng-cloak>
    <div i-tabsMenu-item ng-repeat="tab in tabsMenu.options track by tab.id">
        <button
            i-tabsMenu-button
            ng-click="tabsMenu.showTab(tab.id)"
            ng-bind="tab.name"
            ng-disabled="!tab.isUnlocked"
        ></button>
    </div>
</menu>
