<div i-card>
    <checkbox-field label="Facebook" name="facebook"></checkbox-field>
    <checkbox-field label="Twitter" name="twitter"></checkbox-field>
    <checkbox-field label="LinkedIn" name="linkedIn"></checkbox-field>
</div>

<div i-text="centered">
    <button
        i-button="double full"
        ng-controller="socialFormNextButtonCtrl as nextButton"
        ng-click="nextButton.tryGoNext()"
    >
        Next
    </button>
</div>
