<div ng-app="productReviewAppModule" i-area="medium">
    <div ng-show="::false" i-card i-text="centered">
        Loading&hellip;
    </div>

    {% include titleModule/title.liquid %}

    {% include stepsModule/stepsMenu.liquid %}

    <div ng-controller="stepsContentCtrl as stepsContent">
        <section ng-show="stepsContent.currentStepId === 'review'">
            {% include reviewFormModule/reviewForm.liquid %}

            {% include stepsModule/nextStepButton.liquid label="Next" %}
        </section>

        <section ng-show="stepsContent.currentStepId === 'socials'">
            {% include socialsFormModule/socialsForm.liquid %}

            {% include stepsModule/nextStepButton.liquid label="Next" %}
        </section>

        <section ng-show="stepsContent.currentStepId === 'summary'">
            {% include summaryModule/summary.liquid %}

            {% include stepsModule/nextStepButton.liquid label="Publish" %}
        </section>

        <section i-card ng-show="stepsContent.currentStepId === 'final'">
            Your review has been published successfully!
        </section>
    </div>
</div>

<footer i-area="medium" i-text="centered">
    <a href="{{site.rootSiteUrl}}">made by leszek</a>
</footer>
