<div ng-app="productReviewAppModule" i-area="medium">
    <div ng-show="::false" i-card i-text="centered">
        Loading&hellip;
    </div>

    Hello, World!

    <footer i-text="centered">
        <a href="{{site.rootSiteUrl}}">&larr;</a>
    </footer>
</div>
