<div ng-app="productReviewAppModule" i-area="medium">
    <div ng-show="::false" i-card i-text="centered">
        Loading&hellip;
    </div>

    {% include tabsModule/tabsMenu.liquid %}

    <footer i-text="centered">
        <a href="{{site.rootSiteUrl}}">made by leszek</a>
    </footer>
</div>
