<div ng-app="productReviewAppModule" i-area="medium">
    <div ng-show="::false" i-card i-text="centered">
        Loading&hellip;
    </div>

    {% include titleModule/title.liquid %}

    {% include stepsModule/stepsMenu.liquid %}

    <div ng-controller="stepsContentCtrl as stepsContent">
        <div ng-show="stepsContent.currentStepId === 'review'">
            {% include reviewFormModule/reviewForm.liquid %}
        </div>

        <div ng-show="stepsContent.currentStepId === 'socials'">
            {% include socialFormModule/socialForm.liquid %}
        </div>

        <div ng-show="stepsContent.currentStepId === 'summary'">
            {% include summaryModule/summary.liquid %}
        </div>

        <div i-card ng-show="stepsContent.currentStepId === 'final'">
            Your review has been published successfully!
        </div>
    </div>

    <footer i-text="centered">
        <a href="{{site.rootSiteUrl}}">made by leszek</a>
    </footer>
</div>
