/*******************************************************************************
cardTitle module
*******************************************************************************/

[i-cardTitle] {
    display: block;
    padding: calc(var(--s-leading) * 0.5) 0;
    width: 100%;
    text-align: center;
}
